[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = debian.private
stateOrProvinceName = NY
countryName = US
emailAddress = root@keeper
organizationName = SecNet Private
organizationalUnitName = SecNet Private

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = debian
DNS.1 = debian.private
IP.0 = 10.1.1.10
